/*NAVBAR*/
.menu {
  display: none;
}

.nav-logo {
  width: 100px;
}

.navbar-left ul,
.navbar-right ul {
  list-style: none;
  padding: 0%;
  margin: 0 24px;
  display: flex;
  align-items: center;
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid $lightGray;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-left span {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}
.navbar-left ul {
  margin-left: 12px;
}

.navbar-left ul li a,
.navbar-right ul li a {
  text-decoration: none;
  color: $lightGray;
  border: 1px solid $white;
  border-radius: 8px;
  padding: 8px;
}

.navbar-left ul li a:hover,
.navbar-right ul li a:hover {
  border: 1px solid $lightGreen;
  color: $lightGreen;
}

.navbar-email {
  color: $lightGray;
  font-size: $sm;
  margin-right: 12px;
}

.navbar-shopping-cart div {
  width: 16px;
  height: 16px;
  background-color: $lightGreen;
  border-radius: 50%;
  font-size: $sm;
  font-weight: bold;
  position: absolute;
  top: -6px;
  right: -3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-shopping-cart {
  position: relative;
}

@media (max-width: 640px) {
  .menu {
    display: block;
  }

  .navbar-left ul {
    display: none;
  }

  .navbar-email {
    display: none;
  }
}
